/articles_urls.txt
/codewars.py
/coolparsing
/data.xlsx
/DietParsing.py
/haudiparser.py
/hi-tech.html
/hiTachParse.py
/image
/index.html
/kworkparser
/news.csv
/pandas
/parsbyfocs.py
/parser eldorado
/pogoda.parser.py
/poleznoParsing.py